<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        color: rgb(50, 50, 50);
        text-align: center;
      }
      #banner {
        width: 100%;
        height: 360px;
      }
      h2 {
        font-family: Roboto;
        font-size: 32px;
        color: rgb(100, 100, 100);
      }
      .bodytext {
        font-family: Roboto;
        color: rgb(80, 80, 80);
      }
      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
        <h1>Jovian Careers</h1>
        <img src="/static/banner.jpg" id="banner" />
        <h2>About Jovian</h2>
        <p class="bodytext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus
        purus, volutpat sed convallis nec, tristique vel libero. Donec posuere
        ultrices mauris, condimentum faucibus purus ultricies non. Mauris eget
        egestas ligula, in dapibus quam. Donec lectus nisi, mollis eget mollis et,
        aliquet sed odio. Nulla facilisi. Nulla massa dolor, condimentum eget
        nulla id, finibus pellentesque massa. Morbi varius nibh eu nunc maximus
        dapibus. Praesent lacus nulla, elementum vel dapibus non, tincidunt et
        lectus.
        </p>
        <h2>Open Positions</h2>
        <p class="bodytext">TODO - Show jobs here</p>
        <div style="text-align: center;">
            <button>Contanct Us</button>
            <p>Copyright 2022, Jovian</p>
        </div>
    </div>
  </body>
</html>
